Repository Mischback/colorizer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,ts}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

Create ColorizerPaletteItem and ColorizerPalette classes
  src/script/colorizer/interface/palette.ts
  src/script/colorizer/lib/color.ts
Due: prettier --ignore-unknown --write, eslint --fix

Connect ColorizerPalette to ColorizerForm
  src/script/colorizer.ts
  src/script/colorizer/interface/palette.ts
  src/script/colorizer/lib/color.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add app-specific hash function
  src/script/utility/index.ts
  src/script/utility/murmurhash.ts
Due: prettier --ignore-unknown --write, eslint --fix

Refactor ColorizerPaletteItem class
  src/script/colorizer/interface/palette.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add documentation to palette module
  src/script/colorizer/interface/palette.ts
Due: prettier --ignore-unknown --write, eslint --fix

Make ColorizerPalette its own observer
  src/script/colorizer/interface/palette.ts
  src/script/colorizer/lib/types.ts
Due: prettier --ignore-unknown --write, eslint --fix

Prepare representation of palette in DOM
  src/index.html
  src/script/colorizer/interface/palette.ts
Due: prettier --ignore-unknown --write, eslint --fix

Create the palette item from template
  src/index.html
  src/script/colorizer/interface/palette.ts
Due: prettier --ignore-unknown --write, eslint --fix

Create styling for palette component
  src/style/components/__components.scss
  src/style/components/palette/__palette.scss
  src/style/components/palette/palette-item.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Add color preview to palette items
  src/index.html
  src/script/colorizer/interface/palette.ts
  src/style/components/palette/palette-item.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

Create mixin for coherent styling of color previews
  src/style/abstracts/__abstracts.scss
  src/style/abstracts/style-mixins.scss
  src/style/components/color-form/input-text-range.scss
  src/style/components/palette/palette-item.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Move color form into a dedicated section
  src/index.html
Due: prettier --ignore-unknown --write

Add a submit button to the top of the color form
  src/index.html
Due: prettier --ignore-unknown --write

Add shadow to palette items
  src/style/components/palette/palette-item.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Split ColorizerPalette into engine and interface
  src/script/colorizer.ts
  src/script/colorizer/engine/palette.ts
  src/script/colorizer/interface/palette.ts
  src/script/colorizer/lib/types.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add delete button to palette items
  src/index.html
  src/script/colorizer/engine/palette.ts
  src/script/colorizer/interface/palette.ts
Due: prettier --ignore-unknown --write, eslint --fix

Switch the engine's *add* methods, be verbose
  src/script/colorizer.ts
  src/script/colorizer/engine/palette.ts
Due: prettier --ignore-unknown --write, eslint --fix

Create ColorizerController class
  src/script/colorizer.ts
  src/script/colorizer/engine/controller.ts
Due: prettier --ignore-unknown --write, eslint --fix

Create the ColorizerPaletteInterface instance in the controller
  src/script/colorizer.ts
  src/script/colorizer/engine/controller.ts
  src/script/colorizer/engine/palette.ts
  src/script/colorizer/interface/palette.ts
Due: prettier --ignore-unknown --write, eslint --fix

Implement deleteButtonEventHandler() in ColorizerPaletteInterface
  src/index.html
  src/script/colorizer/interface/palette.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add idb as dependency
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Include idb into the bundle
  rollup.config.js
  tsconfig.json
Due: prettier --ignore-unknown --write, eslint --fix

Create ColorizerDatabase class
  src/script/colorizer/engine/controller.ts
  src/script/colorizer/engine/database.ts
Due: prettier --ignore-unknown --write, eslint --fix

Define IColorizerPaletteItem interface
  src/script/colorizer/engine/palette.ts
Due: prettier --ignore-unknown --write, eslint --fix

Refactor database setup
  src/script/colorizer/engine/database.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add terminated handler
  src/script/colorizer/engine/database.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add documentation to ColorizerDatabase class
  src/script/colorizer/engine/database.ts
Due: prettier --ignore-unknown --write, eslint --fix

Implement PUT operation in ColorizerDatabase
  src/script/colorizer/engine/database.ts
Due: prettier --ignore-unknown --write, eslint --fix

Connect controller, palette engine and database abstraction
  src/script/colorizer/engine/controller.ts
  src/script/colorizer/engine/palette.ts
Due: prettier --ignore-unknown --write, eslint --fix

Rename method to add colors
  src/script/colorizer/engine/controller.ts
  src/script/colorizer/engine/palette.ts
Due: prettier --ignore-unknown --write, eslint --fix

Implement updating from the database
  src/script/colorizer/engine/database.ts
  src/script/colorizer/engine/palette.ts
  src/script/colorizer/interface/palette.ts
  src/script/colorizer/lib/color.ts
Due: prettier --ignore-unknown --write, eslint --fix

Rename delete to remove internally
  src/index.html
  src/script/colorizer/engine/palette.ts
  src/script/colorizer/interface/palette.ts
Due: prettier --ignore-unknown --write, eslint --fix

Implement removing of palette items
  src/script/colorizer/engine/database.ts
  src/script/colorizer/engine/palette.ts
Due: prettier --ignore-unknown --write, eslint --fix

Fix call of async method
  src/script/colorizer/interface/palette.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add sortablejs as dependency
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Apply sortablejs in ColorizerPaletteInterface
  src/index.html
  src/script/colorizer/interface/palette.ts
  tsconfig.json
Due: prettier --ignore-unknown --write, eslint --fix

Delegate handling of drag'n'drop result to ColorizerPalette
  src/script/colorizer/engine/palette.ts
  src/script/colorizer/interface/palette.ts
Due: prettier --ignore-unknown --write, eslint --fix

Change type of sorting attribute to string
  src/script/colorizer/engine/palette.ts
  src/script/colorizer/interface/palette.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add @kayron013/lexorank as dependency
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Make lexorank work
  package-lock.json
  package.json
  rollup.config.js
Due: prettier --ignore-unknown --write, eslint --fix
