Repository Mischback/colorizer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

Add PostCSS to build process
  .eslintrc.json
  Makefile
  package-lock.json
  package.json
  postcss.config.js
Due: prettier --ignore-unknown --write, eslint --fix

Add caniuse-lite as development dependency
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Provide .browserslistrc configuration file
  .browserslistrc
Due: prettier --ignore-unknown --write

Add message to development script building recipe
  Makefile
Due: prettier --ignore-unknown --write

Add (the most) minimal reset
  src/style/base/__base.scss
  src/style/base/min-reset.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Add class to visually hide elements
  src/style/base/__base.scss
  src/style/base/hide-visually.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Update Rollup's configuration
  .rollup.config.js
Due: prettier --ignore-unknown --write, eslint --fix

Update PostCSS's configuration
  postcss.config.js
Due: prettier --ignore-unknown --write, eslint --fix

Adjust recipes for CSS/JS assets
  Makefile
  src/index.html
  src/script/colorizer.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add PostHTML and posthtml-hash
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Add PostHTML configuration
  .eslintrc.json
  posthtml.config.js
Due: prettier --ignore-unknown --write, eslint --fix

Integrate PostHTML into build process (cache busting)
  Makefile
Due: prettier --ignore-unknown --write

Add clean recipe
  Makefile
Due: prettier --ignore-unknown --write

Rename Rollup's config file
  .eslintrc.json
  Makefile
  rollup.config.js
Due: prettier --ignore-unknown --write, eslint --fix

Provide styles for the color-form's tooltips
  src/style/components/__components.scss
  src/style/components/color-form/__color-form.scss
  src/style/components/color-form/tooltip.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Fix debug output of recipe
  Makefile
Due: prettier --ignore-unknown --write

Add basic styling for input method's input elements
  src/style/components/color-form/__color-form.scss
  src/style/components/color-form/input-text-range.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Make stylelint a little bit more permissive
  .stylelintrc.json
Due: prettier --ignore-unknown --write

Visualize the input method's current color
  src/style/components/color-form/input-text-range.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Make the styling of sliders work in FF and Chromium
  src/style/components/color-form/input-text-range.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Fix styling of <input type="range"> sliders
  src/style/components/color-form/__color-form.scss
  src/style/components/color-form/input-text-range.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Adjust width of <input type="text"> elements
  src/style/components/color-form/input-text-range.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Add basic styling to buttons
  src/style/base/__base.scss
  src/style/base/button.scss
  src/style/components/color-form/tooltip.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Add styling for color-form specific buttons
  src/style/components/color-form/__color-form.scss
  src/style/components/color-form/button.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Replace borders with coherent box-shadows
  src/style/components/color-form/input-text-range.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Add HSL-related conversion functions
  src/script/utility/color-processing.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add HSL-related interface to ColorizerColor
  src/script/colorizer/lib/color.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add ColorizerFormInputHsl class and required markup
  src/index.html
  src/script/colorizer/interface/color-form/input-methods.ts
Due: prettier --ignore-unknown --write, eslint --fix

Activate HSL-based input
  src/script/colorizer.ts
Due: prettier --ignore-unknown --write, eslint --fix

Provide styling for HSL-based input
  src/style/components/color-form/input-text-range.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Add HWB-related conversion functions
  src/script/utility/color-processing.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add HWB-related interface to ColorizerColor
  src/script/colorizer/lib/color.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add ColorizerFormInputHwb class and required markup
  src/index.html
  src/script/colorizer/interface/color-form/input-methods.ts
Due: prettier --ignore-unknown --write, eslint --fix

Activate HWB-based input
  src/script/colorizer.ts
Due: prettier --ignore-unknown --write, eslint --fix

Provide styling for HWB-based input
  src/style/components/color-form/input-text-range.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Apply fix to handling of Chroma in OkLCH input
  src/script/colorizer/interface/color-form/input-methods.ts
Due: prettier --ignore-unknown --write, eslint --fix

Correct documentation of OkLab- / OkLCH-related functions
  src/script/utility/color-processing.ts
Due: prettier --ignore-unknown --write, eslint --fix

Rename IColorizerObserver to IColorizerColorObserver
  src/script/colorizer/interface/color-form/form.ts
  src/script/colorizer/interface/color-form/input-methods.ts
  src/script/colorizer/lib/types.ts
Due: prettier --ignore-unknown --write, eslint --fix

Rename IColorizerSubject to IColorizerColorObservable
  src/script/colorizer/interface/color-form/form.ts
  src/script/colorizer/lib/types.ts
Due: prettier --ignore-unknown --write, eslint --fix

Create IColorizerPaletteObservable and IColorizerPaletteObserver interfaces
  src/script/colorizer/lib/types.ts
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: any of: *.{js,ts}
  stylelint --fix: any of: *.{css,scss}
