Repository Mischback/colorizer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,ts}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

Remove type definition of TMoveItemCallback
  src/script/colorizer/engine/palette.ts
Due: prettier --ignore-unknown --write, eslint --fix

Get rid of createItem() method
  src/script/utility/drag-to-order.ts
Due: prettier --ignore-unknown --write, eslint --fix

Integrate getItems() directly in prepareItems()
  src/script/utility/drag-to-order.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add documentation to internal methods
  src/script/utility/drag-to-order.ts
Due: prettier --ignore-unknown --write, eslint --fix

Track evt.target in event handlers
  src/script/utility/drag-to-order.ts
Due: prettier --ignore-unknown --write, eslint --fix

Keep track of the draggable items internally
  src/script/utility/drag-to-order.ts
Due: prettier --ignore-unknown --write, eslint --fix

Replace searchItemIndex() with findClosestDropItem()
  src/script/utility/drag-to-order.ts
Due: prettier --ignore-unknown --write, eslint --fix

Fix application of CSS classes
  src/index.html
  src/script/utility/drag-to-order.ts
Due: prettier --ignore-unknown --write, eslint --fix

Remove debug statements
  src/index.html
  src/script/colorizer/interface/contrast-grid/grid.ts
  src/script/colorizer/interface/palette.ts
  src/script/utility/drag-to-order.ts
Due: prettier --ignore-unknown --write, eslint --fix

Clean TODO/FIXME
  src/script/utility/drag-to-order.ts
Due: prettier --ignore-unknown --write, eslint --fix

Create NotificationEngine
  src/index.html
  src/script/colorizer/engine/controller.ts
  src/script/utility/index.ts
  src/script/utility/notifications.ts
Due: prettier --ignore-unknown --write, eslint --fix

Provide general implementation of notifications
  src/script/utility/notifications.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add basic styling for notifications
  postcss.config.js
  src/script/utility/notifications.ts
  src/style/components/__components.scss
  src/style/components/notifications.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

Add shortcuts for info and error notifications
  postcss.config.js
  src/script/colorizer/engine/controller.ts
  src/script/utility/notifications.ts
  src/style/components/notifications.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

Provide position for the notification container
  src/style/components/notifications.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Let the notifications fade out
  postcss.config.js
  src/script/utility/notifications.ts
  src/style/components/notifications.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

Make several things configurable per instance
  src/script/utility/notifications.ts
Due: prettier --ignore-unknown --write, eslint --fix

Provide dedicated functions for manual and automatic removal
  src/script/utility/notifications.ts
Due: prettier --ignore-unknown --write, eslint --fix

Remove test notifications
  src/script/colorizer/engine/controller.ts
  src/script/utility/notifications.ts
Due: prettier --ignore-unknown --write, eslint --fix

Apply NotificationEngine in ColorizerPalette
  src/script/colorizer/engine/controller.ts
  src/script/colorizer/engine/palette.ts
Due: prettier --ignore-unknown --write, eslint --fix

Leave FIXME reference in stylesheet
  src/style/components/notifications.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Implement a CSS-based tab interface
  src/index.html
  src/style/layouts/__layouts.scss
  src/style/layouts/overall.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Make the CSS-based tab interface work
  src/index.html
  src/style/layouts/overall.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Make the CSS-based tab interface generic
  src/style/layouts/overall.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Wrap nav elements in <ul>
  src/index.html
  src/style/layouts/overall.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Define basic shades of grey for the colorscheme
  src/style/layouts/overall.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Provide minimal styling for the document's header
  src/style/layouts/overall.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Provide a default font stack
  src/style/layouts/overall.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Move general styling into abstracts/base
  src/style/abstracts/__abstracts.scss
  src/style/abstracts/colors.scss
  src/style/abstracts/fonts.scss
  src/style/abstracts/settings.scss
  src/style/base/__base.scss
  src/style/base/typography.scss
  src/style/layouts/overall.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Add :hover style for tabs
  src/style/abstracts/colors.scss
  src/style/abstracts/settings.scss
  src/style/layouts/overall.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Add some general styling for all panels
  src/index.html
  src/style/layouts/overall.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Provide border-radius-fraction
  src/style/abstracts/settings.scss
  src/style/base/button.scss
  src/style/components/notifications.scss
  src/style/components/palette/palette-item.scss
  src/style/layouts/overall.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Create mixin for general shadows
  src/style/abstracts/settings.scss
  src/style/abstracts/style-mixins.scss
  src/style/components/notifications.scss
  src/style/layouts/overall.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Provide semantic colors for notifications
  src/style/abstracts/colors.scss
  src/style/abstracts/settings.scss
  src/style/components/notifications.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Fix padding of notifications
  src/style/components/notifications.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Add more styling to the palette view
  src/index.html
  src/style/abstracts/colors.scss
  src/style/abstracts/settings.scss
  src/style/components/palette/palette-item.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Add XYZ/RGB output to palette items
  src/script/colorizer/interface/palette.ts
  src/style/components/palette/palette-item.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

Provide logic for different palette views
  src/index.html
  src/style/components/palette/palette-item.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Refactor styling of palette views
  src/style/components/palette/palette-item.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Add hex-based RGB output to palette items
  src/script/colorizer/interface/palette.ts
  src/script/colorizer/lib/color.ts
Due: prettier --ignore-unknown --write, eslint --fix
