Repository Mischback/colorizer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, tsc

Move synchronization of input elements to base class
  src/script/colorizer/interface/color-form/input-methods.ts
Due: prettier --ignore-unknown --write, eslint --fix, tsc

Reduce number to toString() calls
  src/script/colorizer/interface/color-form/input-methods.ts
Due: prettier --ignore-unknown --write, eslint --fix, tsc

Switch ColorFormInputRgb to generic elements/properties
  src/script/colorizer/interface/color-form/input-methods.ts
Due: prettier --ignore-unknown --write, eslint --fix, tsc

Reduce visibility of attributes/methods
  src/script/colorizer/interface/color-form/input-methods.ts
Due: prettier --ignore-unknown --write, eslint --fix, tsc

Add documentation in module
  src/script/colorizer/interface/color-form/input-methods.ts
Due: prettier --ignore-unknown --write, eslint --fix, tsc

Make inputDebounceDelay configurable
  src/script/colorizer/interface/color-form/input-methods.ts
Due: prettier --ignore-unknown --write, eslint --fix, tsc

Control the input methods from the form constructor
  src/script/colorizer/interface/color-form/form.ts
  src/script/colorizer/interface/color-form/input-methods.ts
  src/script/index.ts
Due: prettier --ignore-unknown --write, eslint --fix, tsc

Implement the Observer pattern in ColorForm
  src/script/colorizer/interface/color-form/form.ts
  src/script/colorizer/interface/color-form/input-methods.ts
  src/script/colorizer/lib/types.ts
  tsconfig.json
Due: prettier --ignore-unknown --write, eslint --fix, tsc

Make ColorFormInputMethod an observer of ColorForm
  src/script/colorizer/interface/color-form/form.ts
  src/script/colorizer/interface/color-form/input-methods.ts
  src/script/colorizer/lib/types.ts
Due: prettier --ignore-unknown --write, eslint --fix, tsc

Remove debug statements
  src/script/colorizer/lib/color.ts
Due: prettier --ignore-unknown --write, eslint --fix, tsc

Implement form submission
  index.html
  src/script/colorizer/interface/color-form/form.ts
  src/script/index.ts
Due: prettier --ignore-unknown --write, eslint --fix, tsc

Switch some imports to 'import type'
  src/script/colorizer/interface/color-form/form.ts
  src/script/colorizer/interface/color-form/input-methods.ts
  src/script/colorizer/lib/color.ts
  src/script/colorizer/lib/types.ts
Due: prettier --ignore-unknown --write, eslint --fix, tsc

Create barrel file for color-form module
  src/script/colorizer/interface/color-form/index.ts
  src/script/index.ts
Due: prettier --ignore-unknown --write, eslint --fix, tsc

Rename several instances of 'ColorXXX' to 'ColorizerXXX'
  src/script/colorizer/interface/color-form/form.ts
  src/script/colorizer/interface/color-form/index.ts
  src/script/colorizer/interface/color-form/input-methods.ts
  src/script/index.ts
Due: prettier --ignore-unknown --write, eslint --fix, tsc

Add documentation to ColorizerForm class
  src/script/colorizer/interface/color-form/form.ts
  src/script/colorizer/interface/color-form/index.ts
Due: prettier --ignore-unknown --write, eslint --fix, tsc

Turn TODO into issue (#20 / #24)
  src/script/colorizer/interface/color-form/input-methods.ts
Due: prettier --ignore-unknown --write, eslint --fix, tsc

Remove implementation of removeColorObserver()
  src/script/colorizer/interface/color-form/form.ts
Due: prettier --ignore-unknown --write, eslint --fix, tsc

Add issue reference to TODO (#22)
  src/script/colorizer/interface/color-form/input-methods.ts
Due: prettier --ignore-unknown --write, eslint --fix, tsc

Rename variables for Event instances to 'evt'
  src/script/colorizer/interface/color-form/input-methods.ts
Due: prettier --ignore-unknown --write, eslint --fix, tsc

Provide fieldset for Oklch
  index.html
Due: prettier --ignore-unknown --write

Add converstion functions from XYZ to Oklch
  src/script/utility/color-processing.ts
Due: prettier --ignore-unknown --write, eslint --fix, tsc

[WiP] Setup Oklch input method, details missing
  src/script/colorizer/interface/color-form/input-methods.ts
  src/script/colorizer/lib/color.ts
  src/script/index.ts
Due: prettier --ignore-unknown --write, eslint --fix, tsc

Finish implementation of Oklch-related conversion functions
  src/script/utility/color-processing.ts
Due: prettier --ignore-unknown --write, eslint --fix, tsc

Adjust min/max of Oklch sliders
  index.html
Due: prettier --ignore-unknown --write

Force linearRGB into gamut
  src/script/utility/color-processing.ts
Due: prettier --ignore-unknown --write, eslint --fix, tsc

Add pattern to RGB input
  index.html
Due: prettier --ignore-unknown --write

Handle NaN in fromRgb255()
  src/script/colorizer/lib/color.ts
Due: prettier --ignore-unknown --write, eslint --fix, tsc

Insert input validity checks in publishColor()
  src/script/colorizer/interface/color-form/form.ts
  src/script/colorizer/interface/color-form/input-methods.ts
Due: prettier --ignore-unknown --write, eslint --fix, tsc

Process Oklch's lightness and chroma in range [0..100]
  index.html
  src/script/colorizer/interface/color-form/input-methods.ts
Due: prettier --ignore-unknown --write, eslint --fix, tsc

Re-implement input sanitization for ColorizerColor creation
  src/script/colorizer/lib/color.ts
Due: prettier --ignore-unknown --write, eslint --fix, tsc

Add comments to ColorizerColor class
  src/script/colorizer/lib/color.ts
Due: prettier --ignore-unknown --write, eslint --fix, tsc

Add patterns to Oklch inputs
  index.html
  src/script/colorizer/interface/color-form/input-methods.ts
Due: prettier --ignore-unknown --write, eslint --fix, tsc

Document ranges for XYZ color space
  src/script/colorizer/lib/color.ts
Due: prettier --ignore-unknown --write, eslint --fix, tsc

Add sass node module
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Add stylelint and plugins
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Create directory structure for style sources
  .lintstagedrc.json
  .stylelintignore
  .stylelintrc.json
  Makefile
  src/style/abstracts/__abstracts.scss
  src/style/base/__base.scss
  src/style/components/__components.scss
  src/style/layouts/__layouts.scss
  src/style/style.scss
Due: prettier --ignore-unknown --write

Include sass into build process
  Makefile
  index.html
Due: prettier --ignore-unknown --write

Add stylelint to CI workflow
  .github/workflows/ci-default.yml
Due: prettier --ignore-unknown --write

Provide a development mode for TypeScript compilation
  .rollup.config.js
  Makefile
Due: prettier --ignore-unknown --write, eslint --fix

Add PostCSS and cssnano
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: any of: *.{js,ts}
  tsc: any of: *.ts
