Repository Mischback/colorizer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,ts}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

Create a basic color palette based on teal
  src/style/abstracts/__abstracts.scss
  src/style/abstracts/colors.scss
  src/style/abstracts/settings.scss
  src/style/layouts/tabbed-main.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Add red as contrasting color
  src/style/abstracts/colors.scss
  src/style/abstracts/style-mixins.scss
  src/style/layouts/tabbed-main.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Add a sans-serif font stack
  src/style/abstracts/__abstracts.scss
  src/style/abstracts/fonts.scss
  src/style/base/__base.scss
  src/style/base/typography.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Provide default style of buttons
  src/style/abstracts/colors.scss
  src/style/abstracts/style-mixins.scss
  src/style/base/button.scss
  src/style/components/palette/palette-item.scss
  src/style/layouts/tabbed-main.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Use semantic color names for button colors
  src/index.html
  src/script/colorizer/interface/palette.ts
  src/style/abstracts/settings.scss
  src/style/base/button.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

Add slight bevel to color previews
  src/style/abstracts/style-mixins.scss
  src/style/components/color-form/input-text-range.scss
  src/style/components/palette/palette-item.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Make the remove buttons stand out in red
  src/index.html
  src/style/abstracts/colors.scss
  src/style/base/button.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Apply palette to notifications
  postcss.config.js
  src/style/components/notifications.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

Handle focus of buttons manually
  src/index.html
  src/style/abstracts/settings.scss
  src/style/base/button.scss
  src/style/layouts/tabbed-main.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Add template for toggle button
  src/index.html
Due: prettier --ignore-unknown --write

Apply the toggle button template
  src/script/colorizer/interface/palette.ts
Due: prettier --ignore-unknown --write, eslint --fix

Provide basic styling of the toggle button
  src/style/base/button.scss
  src/style/components/palette/palette-container.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Refactor button styles
  src/style/base/button.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Use the new button styles
  src/index.html
  src/script/colorizer/interface/palette.ts
Due: prettier --ignore-unknown --write, eslint --fix

Rename semantic names of focus colors
  src/style/abstracts/settings.scss
  src/style/base/button.scss
  src/style/layouts/tabbed-main.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Apply new button styles to root tabs
  src/index.html
  src/style/layouts/tabbed-main.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Create a danger button style
  src/index.html
  src/style/abstracts/settings.scss
  src/style/base/button.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Fix handler for compressed mode button
  src/script/colorizer/interface/palette.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add :hover style for danger buttons
  src/style/base/button.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Add :hover style to toggle buttons
  src/style/base/button.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Create mixin to generate background gradients
  src/style/abstracts/style-mixins.scss
  src/style/base/button.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Apply gradients to toggle buttons
  src/style/abstracts/colors.scss
  src/style/abstracts/settings.scss
  src/style/base/button.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Apply a slight shade to palette items' backgrounds
  src/style/abstracts/colors.scss
  src/style/components/palette/palette-item.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Apply semantic colors to notifications
  src/style/abstracts/settings.scss
  src/style/components/notifications.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Apply overall settings to notification styles
  src/style/components/notifications.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Provide and use font stacks
  src/style/abstracts/fonts.scss
  src/style/components/palette/palette-item.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Clear TODOs
  src/style/abstracts/style-mixins.scss
  src/style/base/button.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Make rgb the only input method for development
  src/script/colorizer/engine/controller.ts
Due: prettier --ignore-unknown --write, eslint --fix

Remove all other input methods
  .gitignore
  src/index.html
Due: prettier --ignore-unknown --write

Remove tooltip/decription text from input method
  src/index.html
  src/script/colorizer/interface/color-form/input-methods.ts
Due: prettier --ignore-unknown --write, eslint --fix

Create templates for input methods' components
  src/index.html
Due: prettier --ignore-unknown --write

Implement methods to generate DOM elements
  src/index.html
  src/script/colorizer/interface/color-form/input-methods.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add config object for components
  src/script/colorizer/interface/color-form/input-methods.ts
Due: prettier --ignore-unknown --write, eslint --fix

Manage components in a Map
  src/script/colorizer/interface/color-form/input-methods.ts
Due: prettier --ignore-unknown --write, eslint --fix

Provide function to update the value of a component
  src/script/colorizer/interface/color-form/input-methods.ts
Due: prettier --ignore-unknown --write, eslint --fix

Replace synchronization of input elements
  src/script/colorizer/interface/color-form/input-methods.ts
Due: prettier --ignore-unknown --write, eslint --fix

Get rid of other input methods
  src/script/colorizer/interface/color-form/input-methods.ts
Due: prettier --ignore-unknown --write, eslint --fix

Get rid of obsolete attributes and arguments
  src/script/colorizer/interface/color-form/input-methods.ts
Due: prettier --ignore-unknown --write, eslint --fix

Move setup of DOM elements into concrete class
  src/script/colorizer/interface/color-form/input-methods.ts
Due: prettier --ignore-unknown --write, eslint --fix

Setup components for RGB input
  src/script/colorizer/interface/color-form/input-methods.ts
Due: prettier --ignore-unknown --write, eslint --fix
