Repository Mischback/colorizer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

Assign an ID to the actual color palette list element
  src/index.html
  src/script/colorizer/interface/palette.ts
  src/style/components/palette/palette-item.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

Fix remove button of palette items
  src/script/colorizer/interface/palette.ts
Due: prettier --ignore-unknown --write, eslint --fix

Rename panel to panel-color-palette
  src/index.html
  src/style/components/palette/palette-item.scss
  src/style/layouts/overall.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Rename panel to panel-contrast-grid
  src/index.html
  src/script/colorizer/interface/contrast-grid/grid.ts
  src/style/components/contrast-grid/grid.scss
  src/style/layouts/overall.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

Fix oklch() colors in Chromium
  src/style/components/color-form/input-text-range.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Include NaN in form inputs' regexes (fix #49)
  src/index.html
Due: prettier --ignore-unknown --write

Add hover/active style to palette tab switch
  src/style/components/palette/palette-item.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Add NaN to the form fields' regexes (close #49)
  src/index.html
Due: prettier --ignore-unknown --write

Modify the DOM structure
  src/index.html
Due: prettier --ignore-unknown --write

Adjust existing script/style files
  src/script/colorizer/interface/contrast-grid/grid.ts
  src/script/colorizer/interface/palette.ts
  src/style/components/contrast-grid/grid.scss
  src/style/components/palette/palette-item.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

Create tabbed-interface module
  src/index.html
  src/script/colorizer.ts
  src/script/utility/index.ts
  src/script/utility/tabbed-interface.ts
Due: prettier --ignore-unknown --write, eslint --fix

Make clicks on tabs work
  src/script/utility/tabbed-interface.ts
Due: prettier --ignore-unknown --write, eslint --fix

Handle focus in activateTab() method
  src/script/utility/tabbed-interface.ts
Due: prettier --ignore-unknown --write, eslint --fix

Store references to the first and last tab
  src/script/utility/tabbed-interface.ts
Due: prettier --ignore-unknown --write, eslint --fix

Make keyboard input work on tabs
  src/script/utility/tabbed-interface.ts
Due: prettier --ignore-unknown --write, eslint --fix

Include option to make panels focussable
  src/script/utility/tabbed-interface.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add minimal required stylesheet
  src/style/layouts/__layouts.scss
  src/style/layouts/tabbed-main.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Add tab-related styles
  src/index.html
  src/style/abstracts/__abstracts.scss
  src/style/abstracts/lists.scss
  src/style/layouts/tabbed-main.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Start the overall layout
  src/style/abstracts/__abstracts.scss
  src/style/abstracts/settings.scss
  src/style/layouts/tabbed-main.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Create mixin for coherent shadows of root tabs
  src/style/abstracts/settings.scss
  src/style/abstracts/style-mixins.scss
  src/style/layouts/tabbed-main.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Complete style logic of tabbed interface
  src/style/layouts/tabbed-main.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Add hover style for tabs
  src/style/layouts/tabbed-main.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Add FIXME to color definitions
  src/style/abstracts/settings.scss
  src/style/abstracts/style-mixins.scss
  src/style/layouts/tabbed-main.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Remove debug statements
  src/script/utility/tabbed-interface.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add header to contrast grid panel
  src/index.html
Due: prettier --ignore-unknown --write

Extend palette-item template
  src/index.html
Due: prettier --ignore-unknown --write

Fix removeButtonEventHandler()
  src/script/colorizer/interface/palette.ts
Due: prettier --ignore-unknown --write, eslint --fix

Create notation template
  src/index.html
  src/script/colorizer/interface/palette.ts
Due: prettier --ignore-unknown --write, eslint --fix

Create dedicated type definition for supported color notations
  src/script/colorizer/engine/controller.ts
  src/script/colorizer/interface/color-form/input-methods.ts
  src/script/colorizer/interface/palette.ts
  src/script/colorizer/lib/types.ts
Due: prettier --ignore-unknown --write, eslint --fix

Provide dedicated methods for output to the interface
  src/script/colorizer/lib/color.ts
Due: prettier --ignore-unknown --write, eslint --fix

Apply dedicated methods in input methods
  src/script/colorizer/interface/color-form/input-methods.ts
Due: prettier --ignore-unknown --write, eslint --fix

Create notations in a dedicated method
  src/script/colorizer/interface/palette.ts
Due: prettier --ignore-unknown --write, eslint --fix

Complete basic styling of expanded palette view
  src/index.html
  src/script/colorizer/interface/palette.ts
  src/style/components/palette/palette-item.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

Make expanded view the default
  src/index.html
  src/style/components/palette/palette-item.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Make the notations toggleable
  src/index.html
  src/script/colorizer/interface/palette.ts
  src/style/components/palette/palette-item.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

Add styles for the notation toggles
  src/index.html
  src/style/components/palette/__palette.scss
  src/style/components/palette/palette-container.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Maintain notation toggle state
  src/script/colorizer/interface/palette.ts
Due: prettier --ignore-unknown --write, eslint --fix

Implement compact mode
  src/index.html
  src/script/colorizer/interface/palette.ts
  src/style/components/palette/palette-container.scss
  src/style/components/palette/palette-item.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

Implement hex-based RGB output
  src/script/colorizer/engine/controller.ts
  src/script/colorizer/interface/palette.ts
  src/script/colorizer/lib/color.ts
  src/script/colorizer/lib/types.ts
  src/style/components/palette/palette-item.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

Add issue numbers to TODOs/FIXMEs
  src/script/colorizer/lib/color.ts
  src/style/components/palette/palette-container.scss
  src/style/components/palette/palette-item.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: any of: *.{js,ts}
  stylelint --fix: any of: *.{css,scss}
