Repository Mischback/colorizer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,ts}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

Add generated DOM elements to the form
  src/index.html
  src/script/colorizer/interface/color-form/form.ts
  src/script/colorizer/interface/color-form/input-methods.ts
Due: prettier --ignore-unknown --write, eslint --fix

Remove debug statements
  src/script/colorizer/interface/color-form/input-methods.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add comments to methods
  src/script/colorizer/interface/color-form/input-methods.ts
Due: prettier --ignore-unknown --write, eslint --fix

Make ``method`` arguments of type TColorizerFormInputMethod
  src/script/colorizer/interface/color-form/input-methods.ts
Due: prettier --ignore-unknown --write, eslint --fix

Re-add input method HSL
  src/script/colorizer/engine/controller.ts
  src/script/colorizer/interface/color-form/input-methods.ts
Due: prettier --ignore-unknown --write, eslint --fix

Re-add input method HWB
  src/script/colorizer/engine/controller.ts
  src/script/colorizer/interface/color-form/input-methods.ts
Due: prettier --ignore-unknown --write, eslint --fix

Re-add input method OkLCH
  src/script/colorizer/engine/controller.ts
  src/script/colorizer/interface/color-form/input-methods.ts
Due: prettier --ignore-unknown --write, eslint --fix

Create dedicated style module for range inputs
  src/style/components/color-form/__color-form.scss
  src/style/components/color-form/input-range.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Apply development mode while calling postcss
  Makefile
Due: prettier --ignore-unknown --write

Add postcss-reporter to get messages from purgecss
  package-lock.json
  package.json
  postcss.config.js
Due: prettier --ignore-unknown --write, eslint --fix

Split input styles by type
  src/style/components/color-form/__color-form.scss
  src/style/components/color-form/input-range.scss
  src/style/components/color-form/input-text.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Remove non-range styling
  src/style/abstracts/settings.scss
  src/style/components/color-form/__color-form.scss
  src/style/components/color-form/input-range.scss
  src/style/components/color-form/input-text.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Fix RGB sliders
  src/style/components/color-form/input-range.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Fix HSL sliders
  src/style/components/color-form/input-range.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Fix HWB sliders
  src/style/components/color-form/input-range.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Fix OkLCH sliders
  src/style/components/color-form/input-range.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Fix oklch-based preview for Chrome/Chromium
  src/script/colorizer/interface/palette.ts
Due: prettier --ignore-unknown --write, eslint --fix

Start styling the input methods' form elements
  src/style/components/color-form/__color-form.scss
  src/style/components/color-form/overall-form.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Complete general structure of the input method's fieldset
  src/index.html
  src/style/components/color-form/input-range.scss
  src/style/components/color-form/overall-form.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Make the whole form flex
  src/style/components/color-form/overall-form.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Add focus/hover style to text input
  src/style/components/color-form/__color-form.scss
  src/style/components/color-form/input-text.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Reduce width of text inputs
  src/style/components/color-form/input-text.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Add focus to slider input
  src/style/components/color-form/input-range.scss
  src/style/components/color-form/input-text.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Provide a wrapper for input elements
  src/index.html
  src/style/components/color-form/input-range.scss
  src/style/components/color-form/input-text.scss
  src/style/components/color-form/overall-form.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Add '%' as unit to input fields
  src/style/components/color-form/input-text.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Implement a reset button
  src/index.html
  src/script/colorizer/interface/color-form/form.ts
  src/style/components/color-form/button.scss
  src/style/components/color-form/overall-form.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

Provide buttons to toggle the input methods
  src/index.html
  src/script/colorizer/interface/color-form/form.ts
  src/style/abstracts/lists.scss
  src/style/components/color-form/__color-form.scss
  src/style/components/color-form/form-container.scss
  src/style/components/color-form/overall-form.scss
  src/style/components/palette/palette-container.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

Add coherent bottom padding to main
  src/style/layouts/tabbed-main.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Add form description text
  src/index.html
Due: prettier --ignore-unknown --write

Implement a disclosure pattern for the form description
  src/index.html
  src/script/colorizer/interface/color-form/form.ts
  src/style/base/__base.scss
  src/style/base/button.scss
  src/style/base/lists.scss
  src/style/base/typography.scss
  src/style/components/color-form/form-container.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

Add Inkscape source file
  src/icons_inkscape.svg
Due: prettier --ignore-unknown --write

Integrate icon sprites into index.html
  src/index.html
  src/style/base/button.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Style the disclosure button icon
  src/index.html
  src/style/base/button.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Adjust disclosure indicator icon
  src/icons_inkscape.svg
  src/index.html
Due: prettier --ignore-unknown --write

Add disclosure button to list of notation toggles
  src/index.html
  src/script/colorizer/interface/color-form/form.ts
  src/style/base/button.scss
  src/style/components/color-form/form-container.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

Remove color form's tooltip styles
  src/style/components/color-form/__color-form.scss
  src/style/components/color-form/tooltip.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Modify module-specific variables
  src/style/components/color-form/__color-form.scss
  src/style/components/color-form/form-container.scss
  src/style/components/color-form/input-range.scss
  src/style/components/color-form/overall-form.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Define coherent focus outline width
  src/style/abstracts/settings.scss
  src/style/base/button.scss
  src/style/components/color-form/input-range.scss
  src/style/components/color-form/input-text.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Apply monospace font stack to <code>
  src/style/base/typography.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Adjust darkest teal color
  src/style/abstracts/colors.scss
Due: prettier --ignore-unknown --write, stylelint --fix
